<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<center>
    <div class="container" style="margin-bottom:100px">
<h3>OrderForm</h3>
<form method="POST">
    {% csrf_token %}
<div class="md-3">
    <label class="form-label">Address</label>
    <input type="text" class="form-control" name="a" placeholder="Enter the address">
</div>
    <div class="md-3">
    <label class="form-label">Phone/label>
    <input type="text" class="form-control" name="p" placeholder="Enter the phone">
</div>
<div class="md-3">
    <label class="form-label">Account number</label>
    <input type="text" class="form-control" name="e" placeholder="Enter the account number">
 </div>
  <div class="mb-3">
      <input type="submit" class="form-control btn btn-secondary">
  </div>
</form>

</center>

{% endblock %}
